<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{rest_obj.rest_name}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<style>
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    overflow:hidden;
    padding: 10px;
    background-color:#f00;
    <!--height: 300px; /* Should be removed. Only for demonstration */-->
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



</style>
<body>
<div class="container">

    <div class="row">
        <div class="column">
            <div class="card">
                <script>
$(document).ready(function(){
    $("div.card").click(function(){
        <!--alert("The paragraph was clicked.");-->

        <!--You can use both of the function below for redirection of page-->

        <!--window.location.assign("/restaurant/{{restaurant.rest_id}}");-->

        window.location.href="/restaurant/{{restaurant.rest_id}}";
    });
});



                </script>

                <img src="{{rest_obj.rest_logo.url}}" height="200" width="200"/>
                <div class="container">
                    <h4><b>{{rest_obj.rest_name}}</b></h4>
                    <p>Food Type: {{rest_obj.rest_food_type}}</p>
                    <p>Rating: {{rest_obj.rest_rating}}</p>
                    <p>&#8377 {{rest_obj.rest_expected_price}} For Two</p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>